/* default styles for extension "tx_datatable" */
	textarea.f3-form-error {
		background-color:#FF9F9F;
		border: 1px #FF0000 solid;
	}

	input.f3-form-error {
		background-color:#FF9F9F;
		border: 1px #FF0000 solid;
	}

	.tx-datahub table {
		border-collapse:separate;
		border-spacing:10px;
	}

	.tx-datahub table th {
		font-weight:bold;
	}

	.tx-datahub table td {
		vertical-align:top;
	}

	.typo3-messages .message-error {
		color:red;
	}

	.typo3-messages .message-ok {
		color:green;
	}
