    <!-- Breadcrumb -->
    <nav class="breadcrumb" aria-label="Breadcrumb">
        <div class="container">
            <ol class="breadcrumb-list">
                <li><a href="{{root_path}}index.html">Startseite</a></li>
                <li><a href="{{root_path}}index.html#fakultaeten">Fakultaten</a></li>
                <li><a href="{{root_path}}fakultaet-wiai.html">WIAI</a></li>
                {{#breadcrumb_extra}}<li><a href="{{breadcrumb_extra_url}}">{{breadcrumb_extra_text}}</a></li>{{/breadcrumb_extra}}
                <li aria-current="page">{{breadcrumb_current}}</li>
            </ol>
        </div>
    </nav>
