.fancybox__container{z-index:10000;--fancybox-zIndex: 5600}.fancybox-copyright{position:absolute;right:0;bottom:0;color:#fff;background-color:#003158;padding:2px 5px 3px;font-size:.7rem;line-height:1}
